In [5]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as py

In [6]:
df = pd.read_csv("C:/Users/bahla/Desktop/INST414/MentalHealthSurvey.csv")

In [7]:
subset = df.head(30)

In [8]:
needed_columns = subset[['gender', 'age', 'campus_discrimination', 'academic_pressure', 'financial_concerns', 'social_relationships', 'depression', 'anxiety']]

In [9]:
needed_columns

,gender,age,campus_discrimination,academic_pressure,financial_concerns,social_relationships,depression,anxiety
0,Male,20,No,5,4,3,2,1
1,Male,20,No,4,1,3,3,3
2,Male,20,No,5,3,4,2,3
3,Male,20,No,4,4,1,5,5
4,Female,20,Yes,5,2,3,5,5
5,Female,20,No,5,3,3,5,5
6,Male,26,Yes,4,5,2,5,4
7,Male,22,Yes,4,5,4,3,2
8,Male,20,Yes,3,4,2,3,4
9,Male,23,No,3,5,1,5,5
10,Male,20,No,4,1,4,3,3
11,Male,20,No,4,4,4,2,3
12,Male,21,No,5,5,1,4,4
13,Male,19,No,4,5,3,5,4
14,Female,20,No,3,3,2,4,3
15,Female,19,Yes,3,4,3,1,1
16,Female,20,No,4,3,1,3,2
17,Male,19,No,5,3,3,2,2
18,Female,19,No,3,3,2,4,4
19,Male,19,Yes,4,5,3,5,5
20,Female,20,No,4,2,3,1,2
21,Female,19,Yes,5,2,2,4,4
22,Male,20,No,5,3,3,4,4
23,Male,20,No,4,5,3,5,5
24,Female,19,No,4,1,3,3,4
25,Male,19,No,3,5,5,4,1
26,Male,23,Yes,4,1,4,3,3
27,Male,20,Yes,5,5,1,5,5
28,Male,18,No,4,4,4,3,4
29,Male,20,No,5,3,5,5,3

In [10]:
g = nx.Graph()

In [11]:
for index,row in needed_columns.iterrows():
    student_gender = row['gender']
    depression = row['depression']
    
    g.add_node(student_gender, depression = depression)
    

for index,row in needed_columns.iterrows():
    discriminations = row['campus_discrimination']
    for discrimination in discriminations:
        g.add_edge(student_gender, discrimination)

In [12]:
degree_centrality = nx.degree_centrality(g)

In [13]:
print(list(degree_centrality.items())[:10])

[('Male', 0.8333333333333333), ('Female', 0.0), ('N', 0.16666666666666666), ('o', 0.16666666666666666), ('Y', 0.16666666666666666), ('e', 0.16666666666666666), ('s', 0.16666666666666666)]

In [14]:
sorted_degree_centrality = sorted(degree_centrality.items(), key = lambda x: x[1], reverse = True)

In [36]:
for student_gender, centrality in sorted_degree_centrality[:20]:
    print({student_gender}, {centrality})

{'o'} {0.4545454545454546}
{'o'} {0.09090909090909091}
{'o'} {0.09090909090909091}
{'o'} {0.09090909090909091}
{'o'} {0.09090909090909091}
{'o'} {0.09090909090909091}
{'o'} {0.0}
{'o'} {0.0}
{'o'} {0.0}
{'o'} {0.0}
{'o'} {0.0}
{'o'} {0.0}